/*Variables*/

:root {
    --blue-one: #B3D9E0;
    --blue-two: #93D3E0;
    --blue-three: #6DCDE0;
    --blue-four: #49C5DF;
    --blue-five: #35AECF;
    --blue-six: #2474A7;
    --blue-seven: #223D7C;

    --orange-one: #FE6243;

    
    --red-primary: #FF0000;
    --blue-primary: #00AEEF;
  }
